

/* ================= HOME =============================== */

body{
    color: #5c636a;
}

.carousel-item img {
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 100vh;
    width: 100vw;


}

section {
    height: 100vh;
}

h5 {
    color: #000000;
    font-size: 30px;
    font-weight: 900;
    bottom: 50px;

}

.nav-link {
    color: #008b6f;
    font-weight: 600;
    font-size: 20px;
    padding-bottom: 10px;


}

.navbar-nav{
    color: #ffffff;
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-size: 20px;
    font-weight: 520;
    font-family: 'Ubuntu', sans-serif;


}



/* ==================== CUSTOMER ============================== */
#cus-form{
    top: 20px;
    bottom: 20px;
    margin-left: 50px;
}

#item-form{
    top: 20px;
    bottom: 20px;
}
#CustomerTbl{
    padding-left: 90px;
    left: 800px;
}

.col-7 {
    flex: 0 0 auto;
    width: 100vw;
}


/* ==================== item ============================== */

#ItemForm{
    top: 20px;
    bottom: 20px;

}
#item{
    margin-left: 40px;
}
#itm-form{
    top: 20px;
    bottom: 20px;
    margin-left: 50px;
}
#ItemTbl{
    padding-left: 90px;
    left: 800px;
}

.col-7 {
    flex: 0 0 auto;
    width: 100vw;
}


/* ==================== CUSTOMER ============================== */


